/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .box {
   height: 80px;
   width: 300px;
  background-color: #F4F4F4  ;
  margin-left: 15px;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #8e8e8ed3;
  padding-left: 10px;


  margin-bottom: 20px;
 }
 .box2 {
  height: 80px;
  width: 300px;
 background-color: #FFFFE1  ;
 margin-left: 15px;
 border-left-style: solid;
 border-left-width: 5px;
 border-left-color: #8e8e8ed3;
 padding-left: 10px;
 margin-bottom: 20px;
}
.link{
  height: 50px;
  width: 300px;
 margin-left: 15px;
 border-left: 2cm;
 padding-left: 10px;

}
h1,h3{ margin-left: 15px;

}
form{margin-left: 15px;

}
